/* Footer Area css
============================================================================================ */
.footer {
    padding-bottom: 40px;
    font-size: 13px;
    color: #7A8FAF;
    @include media-breakpoint-up(xl){
        padding-bottom: 100px;
    }

    &--newsletter{
        margin-top: -100px;
        margin-bottom: 80px;
    }
}